<h2 class="title pb-4">Dashboard: </h2><hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
       <h3>{{post.title}}</h3>
       <p>{{post.postBody}}</p>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">No Posts! Make one now!</h6>

{{/if}}

<script src="/js/script.js"></script>


<section>
    <h2 class="title">Create a New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert title here"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="postBody" name="post-content" placeholder="Say it!"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create post</button>
  </form>
</section>


