<section>
          <div class="jumbotron">
            <h1 class="display-4 text-center">Tech Blog</h1>
            <p class="lead text-center">This is a safe space to discuss all things Tech!</p>
          </div>
          {{body}}
          {{#if posts.length}}
            </div>

                {{#each posts as |post|}}
                 <h3>{{post.title}}</h3>
                 <p>{{post.postBody}}</p>
                 {{/each}}

                {{else}}
                <h6 class="pb-4 has-text-centered is-italic">No Posts! Make one now!</h6>
                {{/if}}
</section>

